body {
  width: 1000px;
}


.order_form{
  float: left;
  width: 500px;
  border: 1px solid blue;
}


.order_confirm {
  float: left;
  width: 400px;
  border: 1px solid red;
  margin-left: 30px;
}

p {
  padding-left: 10px;
}

label {
  padding-left: 10px;
}

input {
  padding-left: 10px;
}